


.header__title{
  margin : 8px 0;
  Padding : 15px ;
  background-color: #fcce00bd;
  color : #ffffff;
  text-align : center;
  font-weight :900; 
  line-height : 1;
  font-family: 'Poppins'; 
  font-size : 88px;
  }

.header__subtitle {
  margin : 8px 0;
  Padding : 15px ;
  background-color: #fF6B00BD;
  color : #ffffff;
  text-align : center;
  font-weight :900; 
  line-height : 1;
  font-family: 'Poppins', Black;
  font-size : 38px;
  }

.header-strip--red {
  height : 32px; 
  background-color: #e02020BD;
  margin: 8px 0;
}
 
.header-strip--purple{
  height : 16px; 
  background-color: #c44ee6;
  margin: 8px 0;
}
.header-strip--purple2{
  height : 8px; 
  background-color: #805bf6;
  margin: 8px 0;
}

.sub-title {
  font-family: 'Poppins', Black;
  font-size : 38px;
  text-align : center;
}
.titre{
  width: 640px;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;

  font-weight: bold;
}
.texte {
  text-align: justify;
  width: 640px;
  margin: 34px 30px 30px 50px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  
}

.test-colonne{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.bloc1{ 
  flex-basis: 0;
  flex-grow: 1;}

  .bloc2 { 
    flex-basis: 0;
    flex-grow: 1;
  background-image: url(../img/bg-yellow.png);}

.photo1 { 
  margin: 0px 0px 0px 200px;
  mix-blend-mode: darken;
    
}

.bouton{ width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
color: yellow;}
.rectangle{
    width: 200px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 4px;
    color: yellow;
  }

  .texte2 {
    text-align: justify;
    width: 640px;
    margin: 34px 30px 30px 50px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;}

.colonne2{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.bloc3{ 
  flex-basis: 0;
  flex-grow: 1;
  background-image: url(../img/bg-orange.png);}
  
  .bloc4{ 
    flex-basis: 0;
    flex-grow: 1;
    }

.photo2 { 
  margin: 0px 0px 200px 0px;
  mix-blend-mode: darken;
    
}

.bouton2{ width: 113px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
color: orange;}

.rectangle2{
    width: 200px;
    height: 48px;
    margin: 30px 31px 22px 455px;
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 4px;
    color: orange;
  }

.advence {
  margin: 0px 50px 0px 50px;
  font-family: Poppins;
  font-size: 40px;
  text-align: center;
}

.bouton3{ 
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
color: white;}

.rectangle3{
    width: 200px;
    height: 48px;
    margin: 30px 31px 22px 45px;
    padding: 10px 36px;
    border-radius: 15px;
    border: solid 4px;
    color: white;
  }

  .texte3 {text-align: justify;
    color: white;
  margin: 0px 0px 0px 50px;
font-family: Verdana, Geneva, Tahoma, sans-serif, white;
font-size: 20px;}

.photo3 { 
  margin: 0px 0px 0px 200px; 
  mix-blend-mode: darken;
}
    .colonne3{
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-basis: 0;
      flex-grow: 1;
      background-image: url(../img/bg-red.png);}


  .bouton4{ 
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  color: white;}
  .rectangle4{
      width: 200px;
      height: 48px;
      margin: 30px 31px 22px 45px;
      padding: 10px 36px;
      border-radius: 15px;
      border: solid 4px;
      color: white;
    }
  
    .texte4 {
      text-align: justify;
      color: white;
      margin: 0px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, white;
  font-size: 20px;}
    
      .colonne4{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-basis: 0;
        flex-grow: 1;
        background-image: url(../img/bg-violet.png);
      }
     
    .photo4 { 
      margin: 0px 0px 0px 200px; 
      mix-blend-mode: darken;
      
    }


  .bouton5{ 
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  color: white;}
  .rectangle5{
      width: 200px;
      height: 48px;
      margin: 30px 31px 22px 45px;
      padding: 10px 36px;
      border-radius: 15px;
      border: solid 4px;
      color: white;
    }
  
    .texte5 {
      color: white;
      text-align: justify;
      margin: 0px 0px 0px 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif, white;
  font-size: 20px;}
    
      .colonne5{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-basis: 0;
        flex-grow: 1;
        background-image: url(../img/bg-blue.png)
      }
     
    .photo5 { 
      margin: 0px 0px 0px 200px;
      mix-blend-mode: darken;

    }



    .release {
      margin: 90px 90px 80px 50px;
      font-family: Poppins;
      font-size: 40px;
      text-align: center;
      color: white;
    }
    .grille {
      display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: dense;
  padding-left: 34px;
  padding-right: 38px;
  grid-gap : 32px;
    }

.Bloc5 {background-color: #231f20;}

  .game{
    position: relative;
  }

  .game-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 300ms;
    transform: translateX(-10px);
  }
  .game-hover {
    opacity: 33%;
  }
  .game-category {
    color: white;
    font-size: 20px;
    margin: 20px 0px 0px 20px;
    text-align: center;
  }
.game-title {
  color:yellow;
      text-align: justify;
      text-align: center;
      margin: 20px 0px 0px 20px;
      font-family: 'Poppins', bold,sans-serif; 
  font-size: 30px;
}

.game-description { 
  color : white;
  text-align: justify;
  margin: 20px 0px 0px 20px;
  font-family: 'Poppins', sans-serif;
font-size: 15px;
text-align: center;
  
}

.game2{
  position: relative;
}

.game-content2 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 300ms;
  transform: translateX(-10px);
}
.game-hover2 {
  opacity: 33%;
}
.game-category2 {
  color: white;
  font-size: 20px;
  margin:20px 0px 0px 20px;
  text-align: center;
}
.game-title2 {
color:orange;
    text-align: justify;
    text-align: center;
    margin: 20px 0px 0px 20px;
    font-family: 'Poppins', bold, sans-serif;
font-size: 30px;
}

.game-description2 { 
color : white;
text-align: justify;
margin: 20px 0px 0px 20px;
font-family: 'Poppins', sans-serif;
font-size: 15px;
text-align: center;

}

.contact {
  color : white;
  font-family: 'Poppins', sans-serif;
font-size : 40px;
text-align : center;
}

.bloc6 {background-color: #231f20;}

.bouton-rectangle-contact {
  width: 250px;
  height: 48px;
  margin: 10px 11px 12px 400px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  color: black;
  background-color: white;
  font-family: 'Poppins', bold, sans-serif;
  font-size : 15px ;
}

.sujet {
  color : white;
  font-family: 'Poppins', sans-serif;
  font-size : 15px;
  margin: 0px 31px 0px 400px;
  ;
}

.sujet2 {
  color : white;
  font-family: 'Poppins', sans-serif;
  font-size : 15px;
}

.bouton-rectangle-contact2 {
  width: 570px;
  height: 230px;
  padding: 10px 36px;
  border-radius: 15px;
  border: solid 4px;
  color: black;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, bold, sans-serif; 
  font-size : 15px ;
}

.bloc7{ 
  flex-basis: 0;
  flex-grow: 1;
}
  
  .bloc8{ 
    flex-basis: 0;
    flex-grow: 1;
    }

    .colonne6{
      display: flex;
      justify-content: space-around;
      align-items: stretch;
      flex-basis: 0;
      flex-grow: 1;
    }