
/**
* -------------
* Global Styles
* -------------
*/

body {
  /* Default font family and font color */
}

p, li, textarea, label, input, select {
  /* Default font size and line height */
}


.header-title {
margin : 8px 0;
Padding : 15px 
background-color: #fF6B00BD;
color : #ffffff;
text-align : center;
font-weight :900; 
line-height : 1;
}

.header-subtitle {
  margin : 8px 0;
  Padding : 15px 
  background-color: #aff7b80BD;
  color : #fffffff;
  text-align : center;
  font-weight :900; 
  line-height : 1;
  }
h1 {
   /* Default font, size, and margins */
}

h2 {
  /* Default font, size, and margins */
}

h3 {
  /* Default font, size, and margins */
}

h4 {
  /* Default font, size, and margins */
}

h5 {
  /* Default font, size, and margins */
}

h6 {
  /* Default font, size, and margins */
}


a {
  /* Link color */
}

a:hover {
  /* Link color on mouse over */
}


/**
* ------
* Layout
* ------
*/




/**
* ----------
* Components
* ----------
*/